@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&display=swap");

body {
  background: #222;
  color: #efefef;
  margin: 0;
  font-family: "Roboto Condensed";
}
* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}

.navitem {
  padding: 3px 10px;
}
.navitem.is-active {
  background-color: #eee;
}
h1 {
  font-size: 7rem;
  text-transform: uppercase;
  background: linear-gradient(#dfdfdf, #444);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  margin: 2rem 0 0 0;
}
h2 {
  margin: 0;
  font-size: 3rem;
  background: linear-gradient(deeppink, red);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  text-transform: uppercase;
}
.layout {
  padding: 0 20rem;
}
.pageNav {
  margin: 1rem 0;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      font-size: 5.5rem;
      text-transform: uppercase;
      margin: 0 1rem 0 0;
      a {
        color: #999;
        &:hover {
          color: deeppink;
        }
      }
    }
    // &:after {
    //   display: block;
    //   content: " ";
    //   clear: both;
    // }
  }
  .content {
    margin: 1rem 0;
    display: block;
  }
}

.heading {
  text-transform: uppercase;
  filter: drop-shadow(0.5px 0.5px 0.25px rgb(0 0 0 / 0.3));
}
.subheading {
  text-transform: uppercase;
  filter: drop-shadow(0.5px 0.5px 0.25px rgb(0 0 0 / 0.3));
  font-size: 0.5rem;
}